
    {{#each jobAds as |e|}}

<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">{{e.job_name}}</h5>
    <div class="lh-1">
    <p > 
      <h8 class="fw-light lh-sm">${{e.salary}}-p.a. </h8> <br>
      <h8 class="fw-light lh-sm">{{e.location}}</h8>
    </p>
   
    </div>
    <p class="card-text">{{e.description}}</p>
    <a data-jobsid="{{e.id}}" href="#" class="btn btn-primary apply">Apply</a>
  </div>
</div>
{{/each}}
<script src="js/buttons.js"></script>
<script src="./js/ads.js"></script>
<script src="css/styles.css"></script>