 <body> 
    <h1>Please create a profile to continue</h1>
   <form id="profile-form">
      <label for="first-name">First Name: </label>
      <input value = " {{firstName}}" name="first-name" id="first-name" aria-placeholder="First name">
      <br>
      <label for="last-name">Last Name:</label>
      <input value="{{lastName}}" name="last-name" id="last-name" aria-placeholder="Last name">
      <br>
      <label for="email">Email:</label>
      <input value="{{email}}" name="email" id="email" aria-placeholder="input your valid email">
      <br> 
       <label for="dropdown">skill category:</label>
      <select id="dropdown" name="dropdown" value="{{skill}}">
        <option value="" selected disabled>{{skill}}</option>
        <option value="Accounting"> Accounting</option>
        <option value="Administration">Administration</option>
        <option value="Construction">Construction</option>
        <option value="Engineeering">Engineeering</option>
        <option value="IT">IT</option>
        <option value="Healthcare">Healthcare</option>
        <option value="Logistics">Logistics</option>
      </select> 
      <br> 
      <button type="submit" id="saveBtn">Save</button>
    </form>

    <div>
             <button id="search-btn" type="button" class="btn btn-primary btn-lg">View jobs</button>

    </div>

    <script id="profile-template" type="text/x-handlebars-template">
      <h2>{{firstName}} {{lastName}}</h2>
      <p>Email: {{email}}</p>
    </script>
    <script src="./js/profile.js"></script> 
  </body>



